* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }

#app {
  min-height: 100vh;
  background-image: url(../imgs/blue-background.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch; }

.material-symbols-outlined {
  line-height: normal; }

.info {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 50ms;
  position: absolute;
  top: calc(0.25 * (1em + 10px));
  left: 0; }

button {
  border: none;
  height: 100%;
  width: 37px;
  background-color: #ffd82b;
  border-radius: 3px;
  cursor: pointer;
  transition: width 200ms;
  position: relative; }
  button:hover {
    width: 150px;
    transition: width 200ms 100ms; }

button:hover .info {
  left: 50%;
  translate: -50% 0;
  text-align: center;
  opacity: 1;
  transition: opacity 500ms 100ms; }

button:hover .icon {
  opacity: 0;
  transition: opacity 300ms; }

.button-left-edge {
  border-radius: 3px 0 0 3px; }

.button-middle {
  border-radius: 0; }

.button-right-edge {
  border-radius: 0 3px 3px 0; }

input[type="text"] {
  all: unset;
  font-family: "Anton", sans-serif;
  font-size: large;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  padding: 0 0 0 5px;
  border-radius: 3px 0 0 3px; }

.adder-container {
  margin: 20px 24px;
  width: 100%;
  max-width: 572px;
  height: calc(1rem + 12px);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.buttons {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.big-buttons {
  height: 100%;
  width: 252px; }

.big-button {
  width: 50%;
  max-width: 50%; }
  .big-button.info {
    opacity: 0;
    transition: opacity 50ms; }
  .big-button:hover .info {
    opacity: 1;
    transition: opacity 500ms 100ms; }

.main_container {
  display: flex;
  gap: 20px; }

.card-name {
  font-family: "Anton", sans-serif;
  font-size: large;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.6);
  height: calc(1rem + 12px);
  margin: 0 0 5px 0;
  padding: 0 0 0 5px;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between; }
  .card-name:last-of-type {
    margin: 0; }

.test {
  float: right; }

.stack {
  padding: 0 0 20px 0; }
  .stack:last-of-type {
    margin: 0;
    padding: 0; }

.card-adder {
  height: 100%;
  width: 252px;
  display: flex;
  align-items: center; }

.pile {
  width: 300px;
  min-height: 100%;
  padding: 20px;
  margin-bottom: 20px; }

.shuffled_pile {
  background-color: rgba(39, 136, 0, 0.4);
  border: 4px solid #1b8f04;
  border-radius: 10px;
  box-shadow: 0 0 10px #1b8f04; }

.discarded_pile {
  background-color: rgba(12, 22, 105, 0.4);
  border: 4px solid #00bfe0;
  border-radius: 10px;
  box-shadow: 0 0 10px #00bfe0; }

.button_icon {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.default:hover {
  display: none; }

.on-hover {
  display: none;
  transition: 0.5s smooth; }
  .on-hover:hover {
    display: inline; }
