* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }

button {
  border: none;
  height: 37px;
  background-color: #D1B92E;
  padding: 5px;
  cursor: pointer; }
  button:hover {
    box-shadow: inset 0 0 10px #8A7F57;
    transition-duration: 300ms; }

input[type="text"] {
  all: unset;
  font-family: "Anton", sans-serif;
  font-size: large;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border-radius: 2px 0 0 2px; }

#app {
  min-height: 100vh;
  background-image: url(../imgs/blue-background.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch; }

.adder_container {
  margin: 20px;
  width: 100%;
  max-width: 620px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.destroy_button {
  height: 37px;
  width: 37px;
  border-radius: 0 2px 2px 0; }

.discard_button {
  height: 37px;
  width: 37px; }

.shuffle_button {
  width: 37px;
  padding: 0; }
  .shuffle_button img {
    src: "../imgs/deck.svg";
    alt: "Shuffle";
    height: 100%;
    width: 100%; }

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.main_container {
  display: flex;
  justify-content: center;
  gap: 20px; }

.card_name {
  font-family: "Anton", sans-serif;
  font-size: large;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.6);
  margin: 0 0 5px 0;
  padding: 0 0 0 5px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .card_name:last-of-type {
    margin: 0; }

.stack {
  padding: 0 0 20px 0; }
  .stack:last-of-type {
    margin: 0;
    padding: 0; }

.card_adder {
  height: 100%;
  display: flex;
  align-items: center; }

.pile {
  width: 50%;
  max-width: 300px;
  min-height: 100%;
  padding: 20px;
  margin-bottom: 20px; }

.shuffled_pile {
  background-color: rgba(39, 136, 0, 0.4);
  border: 4px solid #1b8f04;
  border-radius: 10px;
  box-shadow: 0 0 10px #1b8f04; }

.discarded_pile {
  background-color: rgba(12, 22, 105, 0.4);
  border: 4px solid #00bfe0;
  border-radius: 10px;
  box-shadow: 0 0 10px #00bfe0; }
